page-favorite {
  .searchbar{
      border-radius: 14px !important;
  }
  .img{
      border-radius: 50px !important;
      margin-left: 10px;
      height: 50px;
      width: 50px;
  }
  .para{
      position: relative;
      margin-bottom: 40px;
  }
  .ion-card{
      background-color:#DCDCDC;
      border-radius: 10px;
      height: 230px;
  }
  .paragragh{
       position: relative;
       margin-top:160px;
       right:15%;
       color: white;
  }
  .paragragh1{
      position: relative;
      right:15%;
      color: white;
 }
 .icon{
     position: relative;
     left: 45%;
 }

}
