<!--
  Generated template for the DealPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
    <img *ngIf="deal" [src]="deal.photo || 'https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950'"
    alt="" style="width:100%;height:300px;margin:0;padding:0;image-rendering: auto;outline:0;">
</ion-header>


<ion-content padding>


<!--
basically show the data from the deal here

 -->



 <!-- now for the other shit -->


<br>
<ion-grid *ngIf="deal">
  <ion-row style="position:absolute;top:0;text-align:right;right:0;margin-right: 12px" >
    <ion-col  style="font-size:22px;padding-left:1rem;padding-right:1rem" (click)="addToFavorites()">
            <ion-icon name="star-outline"></ion-icon>
    </ion-col>
    <ion-col  style="font-size:22px" >
        <ion-icon name="share"></ion-icon>
</ion-col>


  </ion-row>
  <ion-row>
      <ion-col col-4 style="font-size: 24px">
         <span class="pricex">{{deal?.price || '-20%'}} </span>
        </ion-col>
    <ion-col col-8 text-left>
    <h1>  {{deal.title || 'Coupon Title'}} </h1>
      <br>
      <p>
          {{deal?.description || ' Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis architecto optio expedita voluptas odio eaque eveniet consequatur modi ipsa placeat. Voluptas id nobis aspernatur ab voluptatibus ullam cupiditate. Illo, velit!'}}
        </p>
    </ion-col>

    <div class="footx">
      Brand: {{deal?.brand}}
      <br>
      <!-- Launched Date: {{deal?.startDate | amTimeAgo:true}} -->
      <br>
      <small> Ends in
          <span style="color:red">{{deal?.endDate }} </span>
        </small>
    </div>
  </ion-row>


</ion-grid>

</ion-content>

<ion-footer>
    <ion-row>
        <button class="buttonx" ion-button block color="primary" (click)="go()">GO</button>
      </ion-row>
     <br>
</ion-footer>
