page-home {
  ion-content{
    font-family: 'Montserrat', sans-serif;
    background:black;

  }
  ion-title{
    font-family: 'Montserrat', sans-serif;

  }

  .searchx{
    border-radius:25px;
    background-color:white;
    border-color:#00aeef;
    color:#00aeef;
    // outline-offset: 0.01em;
    outline-color:#00aeef;
    border:1px;
    border-style:solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right:60px;

  }
    .searchbar{
        border-radius: 14px !important;
    }
    .img{
        border-radius: 50px !important;
        margin-left: 10px;
        height: 50px;
        width: 50px;
    }
    .para{
        position: relative;
        margin-bottom: 40px;
    }
    .ion-card{
        background-color:#DCDCDC;
        border-radius: 10px;
        height: 230px;
    }
    .paragragh{
         position: relative;
         margin-top:160px;
         right:15%;
         color: white;
    }
    .paragragh1{

        color: white;
   }
   .icon{
       position: relative;
       left: 45%;
   }


   .gradx{
    // border-radius: 6px;
    background-image: linear-gradient(to right, rgb(212, 212, 212) 0%, rgba(127, 72, 194, 0.185) 51%, rgba(161, 161, 161, 0.26) 100%);
    // height: 50px !important;
    // font-size: 18px;
}

.card-background-page{
  // width: 250px;
  margin:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height:150px;
}
.card-body{
  // font-size:20px;
  // font-weight:bolder;
  color:rgb(19, 18, 18);
  padding-bottom:40px;
  margin-top:13px;
}
.card-title{
  font-size:20px;
  font-weight:bolder;
  color:rgb(19p, 18, 18);
}



.card-subtitle{
  font-size:10px;
}
.card-footer{
  position:absolute;
    bottom:0;
    font-size:12px;
    margin:10px;

}
.imgx{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height:150px;
}

}


