ion-content{
    background-color: #FFFFFF;
}
.toolbar-background-md{
    background-color: 	#FFFFFF;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url();
    background-repeat: repeat-x;
    content: "";
}
.searchbar-md .searchbar-input{
    box-shadow: none;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
 